In [1]:
import os
import pandas as pd

# Load data

In [2]:
path = os.getcwd()+os.sep+'data'
file = 'dataset.xlsx'
absolute_path_file = os.path.join(path,file)

In [3]:
df = pd.read_excel(absolute_path_file, encoding= 'latin-1')

# Cleaning

In [4]:
df.rename(columns = {"Patient addmited to regular ward (1=yes, 0=no)":"REGULAR",
                     "Patient addmited to semi-intensive unit (1=yes, 0=no)":"SEMI",
                     "Patient addmited to intensive care unit (1=yes, 0=no)":"UTI"
                    }, inplace = True)

# Explore

In [5]:
#Inicialmente a gente tem 111 features
len(df.columns)

111

In [6]:
df['SARS-Cov-2 exam result'].value_counts()

negative    5086
positive     558
Name: SARS-Cov-2 exam result, dtype: int64

In [7]:
df[['REGULAR',
    'SEMI',
    'UTI']]

      REGULAR  SEMI  UTI
0           0     0    0
1           0     0    0
2           0     0    0
3           0     0    0
4           0     0    0
...       ...   ...  ...
5639        0     0    0
5640        0     0    0
5641        0     0    0
5642        0     0    0
5643        0     0    0

[5644 rows x 3 columns]

## Exemplo Apply

### Exemplo uma coluna

In [8]:
df['REGULAR'].value_counts()

0    5565
1      79
Name: REGULAR, dtype: int64

In [9]:
def lauraExemplo(x):
    if x == 0:
        return True
    else:
        return False

index = df['REGULAR'].apply(lauraExemplo)

In [10]:
len(df[~index])

79

### Exemplo + de uma coluna

In [14]:
def lauraTest(x):
    if (x.REGULAR == 1) and (x.SEMI == 1) and (x.UTI == 1):
        return True
    else:
        return False
        

df[['REGULAR',
    'SEMI',
    'UTI']].apply(lauraTest, axis = 1)

0       False
1       False
2       False
3       False
4       False
        ...
5639    False
5640    False
5641    False
5642    False
5643    False
Length: 5644, dtype: bool

# How many?

In [ ]:
df['REGULAR'].value_counts()

In [ ]:
df['SEMI'].value_counts()

In [ ]:
df['UTI'].value_counts()

In [15]:
df['REGULAR'] == 1

0       False
1       False
2       False
3       False
4       False
        ...
5639    False
5640    False
5641    False
5642    False
5643    False
Name: REGULAR, Length: 5644, dtype: bool

In [16]:
cond1 = df['REGULAR'] == 1
cond2 = df['SEMI'] == 1
cond3 = df['UTI'] == 1

In [20]:
df[cond2 & cond3]

Empty DataFrame
Columns: [Patient ID, Patient age quantile, SARS-Cov-2 exam result, REGULAR, SEMI, UTI, Hematocrit, Hemoglobin, Platelets, Mean platelet volume , Red blood Cells, Lymphocytes, Mean corpuscular hemoglobin concentration (MCHC), Leukocytes, Basophils, Mean corpuscular hemoglobin (MCH), Eosinophils, Mean corpuscular volume (MCV), Monocytes, Red blood cell distribution width (RDW), Serum Glucose, Respiratory Syncytial Virus, Influenza A, Influenza B, Parainfluenza 1, CoronavirusNL63, Rhinovirus/Enterovirus, Mycoplasma pneumoniae, Coronavirus HKU1, Parainfluenza 3, Chlamydophila pneumoniae, Adenovirus, Parainfluenza 4, Coronavirus229E, CoronavirusOC43, Inf A H1N1 2009, Bordetella pertussis, Metapneumovirus, Parainfluenza 2, Neutrophils, Urea, Proteina C reativa mg/dL, Creatinine, Potassium, Sodium, Influenza B, rapid test, Influenza A, rapid test, Alanine transaminase, Aspartate transaminase, Gamma-glutamyltransferase , Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, Alkaline phosphatase, Ionized calcium , Strepto A, Magnesium, pCO2 (venous blood gas analysis), Hb saturation (venous blood gas analysis), Base excess (venous blood gas analysis), pO2 (venous blood gas analysis), Fio2 (venous blood gas analysis), Total CO2 (venous blood gas analysis), pH (venous blood gas analysis), HCO3 (venous blood gas analysis), Rods #, Segmented, Promyelocytes, Metamyelocytes, Myelocytes, Myeloblasts, Urine - Esterase, Urine - Aspect, Urine - pH, Urine - Hemoglobin, Urine - Bile pigments, Urine - Ketone Bodies, Urine - Nitrite, Urine - Density, Urine - Urobilinogen, Urine - Protein, Urine - Sugar, Urine - Leukocytes, Urine - Crystals, Urine - Red blood cells, Urine - Hyaline cylinders, Urine - Granular cylinders, Urine - Yeasts, Urine - Color, Partial thromboplastin time (PTT) , Relationship (Patient/Normal), International normalized ratio (INR), Lactic Dehydrogenase, Prothrombin time (PT), Activity, Vitamin B12, Creatine phosphokinase (CPK) , Ferritin, Arterial Lactic Acid, Lipase dosage, D-Dimer, ...]
Index: []

[0 rows x 111 columns]

# variáveis

In [36]:
lst_variavies = []

for i in df.columns:
    if sum(~pd.isna(df[i]))/len(df) >= 0.1:
        lst_variavies.append(i)

In [34]:
sum(pd.isna(df['SEMI']))

0

In [37]:
df[lst_variavies]

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,REGULAR,SEMI,UTI,Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Adenovirus,Parainfluenza 4,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,"Influenza B, rapid test","Influenza A, rapid test"
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,negative,negative
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN